//>Kassar
h1{
    
}

.wrapper .box img{
    max-width: 10%;
    max-height: 10%;

}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem;
}
.wrapper .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    max-width: 50%;

}

.wrapper .box .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1rem;

}

.wrapper .box .boxes .item1{
    display: grid;
    justify-items: start;
    font-weight: bold;

}
.wrapper .box .boxes .item2{
    display: grid;
    justify-items: end;
    font-weight: bold;
    font-size: 120%;
}
.wrapper .box .boxes .item3{
    display: grid;
    justify-items: start;
}
//> skoða vöruflokka
.wrapper1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.wrapper1 .box1{

}
.wrapper button{
    background-color: #241e1e;
    color:white;
    width: 60%;
    height: 115%;
    border-radius: 2%;
}

.wrapper1 .box1 button{
    display: grid;
    text-decoration: none;
    font-size: 24px;
    padding: 5%;
    min-width: 30%;
    text-decoration: none;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 5%;
    width: 80%;
    height: 80%;
    align-content: center;
}
