//Kassarnir á forsíðu fyrir nokkur dæmi og nýjar vörur
.forsida{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.forsida .box7{
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
  padding: 1rem;
  width: 95%;
  height: 95%;
  background-color: white;
}
//Kassarnir á forsíðu fyrir flugvélina og vöruhúsið
.section .box2{
    display:grid;
    grid-template-rows: 1fr 1fr;
}

//kassinn sem heldur myndinni
.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 10%;
}

// Scaling

@media (max-width: 500px) {

    .forsida .box7{
        display: flex;
        flex-direction: column;
        max-height: auto;
    }

    .forsida{
        min-height: auto;
        display: flex;
        flex-direction: column;
    }
  
}

@media (max-width: 800px) {
    
    .section-background-pic .forsida{
        display: grid;
        grid-template-rows: 1fr;
        max-height: 10%;
    }

    .forsida .box7{
        display: flex;
        flex-direction: column;
        max-height: auto;
    }

    .forsida{
        min-height: auto;
    }
  
}