.pageContentFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    color:var(--color-black);
    list-style-type: none;
  }

  .pageContentGrid{
    display: grid;
    justify-content: center;
    min-width: 500px;
    color:var(--color-black);
    list-style-type: none;
  }